* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

header {
    /* padding-bottom: 100px; */
   background-color:  rgba(228, 228, 228);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-portfolio {
    float: left;
    font-size: 35px;
}


.nav-bar a{
    text-decoration: none;
    color: black;
    
}

.nav-list {
    float: right;
    margin-right: 90px;
    margin-top: 11px;
    
}

header h1 {
    padding-top: 100px;

    
}

body {
    background-color: lightgrey;
}

body img {
    position: absolute;
    padding-left: 1050px;
    padding-top: 100px;
    width: 100%;
    position: fixed;
}

.body-pic {
    display: flex;

}

div h1{
    /* padding-top: 300px; */
    padding: 500px 14% 300px 500px;
    
    /* background-color:   lightgrey; */
    font-size: 40px;
    
}

@media screen and (max-width: 1650px) {
    body img {
        padding-left: 400px;   
        /* position: fixed; */
    }

    div h1{
        padding: 495px 14% 292px 170px;
        font-size: 25px;
    }
     
}

@media screen and (max-width: 1000px) {
    body img {
        padding-left: 200px;   
    }
     
    div h1{
        padding: 347px 14% 278px 72px;
        font-size: 20px;
    }
}

@media screen and (max-width: 682px) {
    body img {
        padding-left: 150px;   
    }
     
    div h1{
        padding: 257px 10% 267px 50px;
        font-size: 15px;
    }
}


@media screen and (max-width: 618px) {
    .nav-list {
        margin-right: 50px;  
    }
     
}