* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

header {
    padding-bottom: 35px;
   background-color:  rgba(228, 228, 228);
    position: fixed;
    width: 100%;
    z-index: 100000;
}

.nav-portfolio {
    float: left;
    font-size: 35px;
    margin-top: 40px;
}


.nav-bar a{
    text-decoration: none;
    color: black;
    
}

.nav-list {
    float: right;
    margin-right: 90px;
    margin-top: 50px;
    font-size: 20px;
    
}

header h1 {
    padding-top: 100px;

    
}

body {
    /* background-color: lightgrey; */
}

body img {
    position: absolute;
    padding-left: 1050px;
    padding-top: 100px;
    width: 100%;
    background-color: lightgrey;

}

.body-pic {
    display: flex;
    background-color: lightgrey;

}

div h1{
    
    padding: 500px 14% 300px 500px;
    z-index: 1;
    font-size: 40px;
    
}



h3 {
    padding: 700px 0% 63px 0%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    
}

.aboutmepara {
    text-align: center;
    padding: 0 0 200px 0;
    font-size: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem
}

.justify-center {
    justify-content: center;
}

.card-column-first {
    flex: 1 0 100%;
    padding: 10rem;
    margin-bottom: 2rem;
}

.code-card-first {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 5rem;
    outline: 2.5px solid black;
    outline-offset: -2px;
}

.code-card-first .card-header-first {
    position: relative;
    margin: -6rem 0 1rem 0;
    padding: 0.5rem 1rem;
    border: 2.5px solid black;
    border-bottom: .5px solid black;
}

.card-header-first {
    text-align: center;
    z-index: 1;
    background-color: lightgrey;
}

.card-column {
    /* flex: 1 0 100%; */
    padding: 5rem;
    margin-bottom: 2rem;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 8rem;
    outline: 2.5px solid black;
    outline-offset: -2px;
}

.code-card .card-header {
    position: relative;
    margin: -9rem 0 1rem 0;
    padding: 0.5rem 1rem;
    border: 2.5px solid black;
    border-bottom: .5px solid black;
}

.card-header {
    text-align: center;
    z-index: 1;
    background-color: lightgrey;
}


#align-text {
    text-align: center;
}

main {
    margin-top: 200px;
}

section img {
     max-width: fit-content;

}









@media screen and (max-width: 1650px) {
    body img {
        padding-left: 800px;   
        /* position: fixed; */
    }

    div h1{
        padding: 495px 14% 292px 170px;
        font-size: 25px;
    }
     
}

@media screen and (max-width: 1000px) {
    body img {
        padding-left: 200px;   
    }
     
    div h1{
        padding: 347px 14% 278px 72px;
        font-size: 20px;
    }
}

@media screen and (max-width: 682px) {
    body img {
        padding-left: 150px;   
    }
     
    div h1{
        padding: 257px 10% 267px 50px;
        font-size: 10px;
    }
}


@media screen and (max-width: 618px) {
    .nav-list {
        margin-right: 25px;
        font-size: 12px;  
    }

    .nav-portfolio {
        font-size: 20px;
    }
     
}